div
{
    background-image: linear-gradient(to right, blue, green, #0ff, rgb(200, 30, 170));

    /* Obligatoire si on veut "voir" le dégradé */
    width: 400px;
    height: 300px;
}

section
{
/*le premier chiffre = nombre de colonne, le deuxième chiffre = largeur de la colonne*/
    -webkit-columns: 4 100px;
    -moz-columns: 4 100px;
    columns: 4 100px;

	-webkit-column-gap: 100px;
    -moz-column-gap: 100px;
    column-gap: 100px;
	 -webkit-column-rule: 2px dashed #555;
    -moz-column-rule: 2px dashed #555;
    column-rule: 2px dashed #555;
	text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
	
}

section h1
{
	 break-before: column;
    -webkit-column-break-before: always;
}